<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="parti">
<!--  참여자 정보등록  -->
	<insert id="s_participation" parameterType="com.king.myapp.domain.StudentParticipationVO">
		insert into s_parti (P_NO, S_NO, P_USERID, P_INTRO, P_TELL, P_REGDATE)
		values (S_PARTI_SEQ.nextval, #{s_no}, #{p_userid}, #{p_intro}, #{p_tell} , SYSDATE )
	</insert>
	
	
	<select id="s_userCheck" resultType="com.king.myapp.domain.StudentParticipationVO">
		
		<!-- select e.s_userid, p.s_no
		
		from s_enroll e, s_parti p
		
		where e.s_userid = p.p_userid 
		
		and e.s_userid =#{p_userid} -->  
		select * from s_parti where p_userid = #{p_userid} and s_no = #{s_no} 

	</select>
</mapper>