<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reply">
<!-- 댓글 조회 -->
<select id="readReply" resultType="com.king.myapp.domain.QnaReplyVO">
	SELECT QNA_RNO, QNA_CONTENT, QNA_WRITER, QNA_REGDATE FROM QNA_MYREPLY WHERE QNA_BNO = #{QNA_RNO}
</select>
<!-- 댓글 작성 -->
<insert id="replyWrite">
	INSERT INTO QNA_MYREPLY(QNA_BNO,QNA_RNO,QNA_CONTENT,QNA_WRITER) VALUES (#{QNA_BNO}, SEQ_QNA_MYREPLY.nextval, #{QNA_CONTENT}, #{QNA_WRITER})
</insert>

<update id="replyUpdate">
	UPDATE QNA_MYREPLY SET QNA_CONTENT=#{QNA_CONTENT}, QNA_REGDATE=SYSDATE WHERE QNA_RNO = #{QNA_RNO}
</update>
<delete id="replyDelete">
	DELETE FROM QNA_MYREPLY WHERE QNA_RNO = #{QNA_RNO}
</delete>
<!-- <select id="readReplySelect" resultType="com.king.myapp.domain.ReplyVO">
 	SELECT QNA_BNO, QNA_RNO, QNA_CONTENT, QNA_WRITER, QNA_REGDATE FROM QNA_MYREPLY WHERE QNA_RNO = #{QNA_RNO}
 </select>-->

</mapper>