<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study">
	<insert id="s_enroll" parameterType="com.king.myapp.domain.StudyEnrollVO">
	insert into STUDYENROLL (SNO, USERID, USERPASS, EMAIL, PHOTO, CATEGORY, STITLE, STARTDATE, ENDDATE, SDAY, SPLACE, SCONTENT )
	values( study_seq.nextval , #{userId}, #{userPass}, #{email}, #{photo}, #{category}, #{stitle}, #{startDate}, #{endDate}, #{sDay}, #{sPlace}, #{sContent})
<!-- 		insert into studytest_1 (bno, userid, category, title, regdate, place, content, photo)
		values((select nvl(max(bno)+1, 1) from studytest_1), #{userId}, #{category}, #{title}, #{regDate}, #{place}, #{content}, #{photo}) -->
	</insert>

	<insert id="t_enroll" parameterType="com.king.myapp.domain.TeacherEnrollVO">
		insert into T_ENROLL (T_NO, T_USERID, T_CATEGORY, T_TITLE, T_STARTDATE, T_ENDDATE, T_DAY, T_POSTNUM, T_PLACE, T_CONTENT, T_URL, T_PHOTO, T_LICENSE, T_LEVEL, T_PEOPLE)
		values (T_ENROLL_SEQ.nextval, #{t_userId}, #{t_category}, #{t_title}, #{t_startDate}, #{t_endDate}, #{t_day}, #{t_postnum}, #{t_place}, #{t_content}, #{t_URL}, #{t_photo}, #{t_license},#{t_level},#{t_people}) 
	</insert>

	
	
	
</mapper>

<!-- 

SNO 	 	NUMBER  NOT NULL,
USERID 		VARCHAR2(20)  NOT NULL,
USERPASS 	VARCHAR2(100) NOT NULL,
EMAIL  		VARCHAR2(30),
PHOTO 		VARCHAR2(20),
CATEGORY 	VARCHAR2(15)  NOT NULL,
STITLE 		VARCHAR2(50)  NOT NULL,
STARTDATE  	VARCHAR2(20),
ENDDATE  	VARCHAR2(20),
SDAY 		VARCHAR2(25)  NOT NULL,
SPLACE 		VARCHAR2(200),
SCONTENT 	VARCHAR2(1000)  NOT NULL,
PRIMARY KEY(SNO)

 -->